div Hi #{name},
br
div Thanks for showing your interest in Prepleaf.
div #{mentorName} will be mentoring you in #{label}.
div You can login on #[a(href="https://mentors.prepleaf.com") mentors.prepleaf.com] to chat with him.

br

div Feel free to write to us at #[a(href="mailto:support@prepleaf.com") support@prepleaf.com] in case of any query.

br

div Thanks,
div Team Prepleaf

